{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evently</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <div class="logo">📅 <span>Evently | {{ user.username | title }}</span></div>

        <nav class="nav-links">
            <a href="{% url 'event_list' %}" class="btn">Home</a>

            {% if user.is_authenticated %}
                <a href="{% url 'create_event' %}" class="btn">Create Event</a>
                <a href="{% url 'my_registrations' %}" class="btn">My Events</a>
                <a href="{% url 'logout' %}" class="btn logout">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn" onclick="return confirm('Please login first to create events');">Create Event</a>
                <a href="{% url 'login' %}" class="btn" onclick="return confirm('Please login first to view events');">My Events</a>
                <a href="{% url 'login' %}" class="btn">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>